.explore-tabs .nav-item {
  width: 50%;
}

.nav-tabs .nav-link {
  width: 100%;
  color: black;
}
.nav-tabs .nav-link.active {
  width: 100%;
  color: white;
  background: gray;
}

.explore .form-control::placeholder {
  font-size: 14px;
}

/* ShopDetails.css */
.card {
  margin-bottom: 20px;
}

.card-header {
  background-color: #007bff;
  color: #fff;
}

.card-body {
  padding: 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  /* margin-bottom: 10px; */
}

/* profile */

.profile-container {
  /* border: 6px solid rgba(217, 217, 217, 0.2); */
  /* height: 159px;
  width: 159px; */
  display: block;
}
.go4109123758 {
  top: 65px !important;
}

.profile__image {
  height: 100px;
  border-radius: 50%;
  width: 100px;
}
.profile__about-container {
  min-height: 10px;
  width: 100%;
  padding: 5px 10px;
}
.profile-tabs.nav-tabs {
  display: flex;
  justify-content: space-around;
}
.profile-tabs .nav-item {
  width: 25%;
}
.profile-tabs .nav-item .nav-link {
  padding: 3px 10px;
  font-size: 14px;
}
.profile-tabs .nav-link.active {
  background: black;
}
.add-product__button {
  position: fixed;
  z-index: 100;
  bottom: 87px;
  right: 20px;
  background: #0f1069;
  color: white;
  font-weight: bold;
}

/* radio button css */

.project__toggle-radio-buttons div {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project__toggle-radio-buttons div:nth-child(1) {
  position: relative;
}

.project__toggle-radio-buttons div:nth-child(1) input {
  display: none;
}

.project__toggle-radio-buttons div:nth-child(1) label {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.project__toggle-radio-buttons div:nth-child(1) div {
  border: 1px solid var(--color-secondary);
  border-radius: 1rem;
  height: 10px;
  width: 23px;
}

.project__toggle-radio-buttons div:nth-child(1) div {
  border: 1px solid rgb(140, 187, 45);
}

.project__toggle-radio-buttons div:nth-child(1) ~ span {
  margin-left: 1rem;
}

.project__toggle-radio-buttons div:nth-child(1) div:nth-of-type(1) span {
  border-radius: 50%;
  border: 1px solid white;
  /* background-color: white; */
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  display: block;
  height: 15px;
  left: -2px;
  position: absolute;
  -webkit-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  width: 15px;
}

.project__toggle-radio-buttons div:nth-child(1) div:nth-of-type(1) span {
  background-color: rgb(140, 187, 45);
}

.project__toggle-radio-buttons
  div:nth-child(1)
  input:checked
  ~ div:nth-of-type(1)
  span:first-child {
  left: 8px;
}
