.modal-backdrop.show {
  opacity: 0.5;
}
.cart-icon {
  position: fixed;
  bottom: 15%;
  right: 5%;
  z-index: 100000;
}

.side-bar {
  height: 100vh;
  max-width: 500px;
  z-index: 10;
}

.cart-items-container {
  height: 280px;
  overflow-y: auto;
}

.discount-btn:active {
  color: white;
  background-color: blue;
}
